<div class="container">
    <h1 class="mt-5">Welcome to Errands</h1>
    <p class="lead">Run as much as you want... Y3 Faaasst!</p>

 <div class="container mt-5">
  <p class="card-text mb-4 "> Do you have an account?</p>
 </div> 
 <div class="'container mt-5" >
  <button class="center-button mr-50" class="btn btn-success" hight="200" mat-raised-button color="success" (click)="handleYesClick()"> Yes </button>
  <button class="center-button ml-50" class="btn btn-success" hight="200" mat-raised-button color="success" (click)="handleNoClick()">  No </button>
</div>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Sender</h5>
            <p class="card-text">Are you busy and wants a runner or artisan for your work? Register as a sender</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Runner</h5>
            <p class="card-text">Register and Run Errands for the busy.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Artisan</h5>
            <p class="card-text">Register to Unleash creativity through artisanal magic.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 