
<body>
    <div class= "container mt-5 text-light">
        <div class="row">
            <div class="col-sm-900 col-md-600 mt-100">
              <div class="card p-5 shadow p-5 mb-5 bg-body rounded border border-success">
                <div class="card-body text-center"> 
                  <h1 class="card-title lead mb-4 text-primary"></h1>
        <div class="profile-box">
            <img src="/assets/images/NKUNKU.jpg" class="profile-pic">
            <h3>Jack Philips</h3> 
        </div>
    </div>
            <div>
                <h4>Add Request</h4>
            </div>

 <div class="container mt-5 text-success ">
                    <div class="row">
                      <div class="col-sm-3 col-md-6 mt-1">
                        <div class="card p-5 shadow p-5 mb-5 bg-body rounded border border-success">
                          <div class="card-body text-center"> 
                            <h4 class="card-title lead mb-4 text-primary"></h4>
                            <img src="/assets/images/courier.jpeg" class="rounded-circle" alt="runner" width="200" height="200" > 
                              <P>Post request for a runner to pick up</P>
                              <button class="btn btn-success">Add Request</button>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-sm-3 col-md-6 mt-1 " > 
                          <div class="card p-5 shadow p-3 mb-5 ml-3 bg-body rounded border border-success">
                            <div class="card-body text-center">
                              <h4 class="card-title lead mb-4 text-primary"></h4>
                              <img src="/assets/images/Sender.jpg" class="rounded-circle" alt="Artisan" width="200" height="200" >
                             <p>
                              looking for a quality candidates for your art?
                             </p>
                              <button class="btn btn-success" href='/registration/registration.component.html'>Add Request</button>
                           </div>
                         </div>
                      </div>
                 </div>
              </div>   
         </div>
     </div>
 </div>
  </div>
</body>
